<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="addOfferToToolbarAvailableOrders" type="TongGarden\BestSeller\Plugin\AddOfferToAvailableOrders"/>
    </type>
    <preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="TongGarden\BestSeller\Block\Catalog\Product\ProductList\Toolbar" />
</config>
