
& when (@media-common = true) {

    #free-shipping-banner {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #a94442;
        color: #f1f8fc;
    }
}

